<md-toolbar color="primary">

  <span>
    <button *ngIf="toolbarService.menuButton.active" md-icon-button (click)="onClickMenu()"
      mdTooltip="{{toolbarService.menuButton.tooltip}}" 
      [mdTooltipPosition]="toolbarService.menuButton.tooltipPosition"
      [disabled]="toolbarService.menuButton.disabled">
      <md-icon class="md-24" svgIcon="toolbar:menu"></md-icon>
    </button>
  </span>

  <span>
    <button *ngIf="toolbarService.saveButton.active" md-icon-button (click)="onClickSave()"
      mdTooltip="{{toolbarService.saveButton.tooltip}}" 
      [mdTooltipPosition]="toolbarService.saveButton.tooltipPosition"
      [disabled]="toolbarService.saveButton.disabled">
      <md-icon class="md-24" svgIcon="toolbar:save"></md-icon>
    </button>
  </span>

  <span>
    <button *ngIf="toolbarService.sendButton.active" md-icon-button (click)="onClickSend()"
      mdTooltip="{{toolbarService.sendButton.tooltip}}" 
      [mdTooltipPosition]="toolbarService.sendButton.tooltipPosition"
      [disabled]="toolbarService.sendButton.disabled">
      <md-icon class="md-24" svgIcon="toolbar:send"></md-icon>
    </button>
  </span>

  <span>
    <button *ngIf="toolbarService.cancelButton.active" md-icon-button (click)="onClickCancel()"
      mdTooltip="{{toolbarService.cancelButton.tooltip}}" 
      [mdTooltipPosition]="toolbarService.cancelButton.tooltipPosition"
      [disabled]="toolbarService.cancelButton.disabled">
      <md-icon class="md-24" svgIcon="toolbar:cancel"></md-icon>
    </button>
  </span>

  <span class="toolbar-space-filler"></span>

  <span>
    {{toolbarService.mainTitle}}{{toolbarService.subTitle}}
  </span>

  <span class="toolbar-space-filler"></span>

  <span>
    <button *ngIf="toolbarService.exitButton.active" md-icon-button (click)="onClickExit()"
      mdTooltip="{{toolbarService.exitButton.tooltip}}" 
      [mdTooltipPosition]="toolbarService.exitButton.tooltipPosition"
      [disabled]="toolbarService.exitButton.disabled">
      <md-icon class="md-24" svgIcon="toolbar:close"></md-icon>
    </button>
  </span>

</md-toolbar>